@import '../../variables';
.testConfig__layout{
    padding-top: 4px;
    padding-bottom: 1.4em;
    padding-right: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    .testConfig__container{
        width: 616px;
        height: 31.5px;
        background-color: #2C2E31;
        text-align: center;
        border-radius: 6px;
        display: flex;
        align-items: center;
        justify-content: center;
        .spacer{
            width: 3px;
            height: 18px;
            border-radius: 6px;
            background-color: #323437;
        }
        .testConfig__item{
            color: $secondary-color;
            cursor: pointer;
            font-size: 10px;
            font-family: $roboto-mono;
            transition: 0.15s ease;
            div{
                float:left;
            }
            .text{
                margin-left: 5px;
            }
        }
        .testConfig__item.active{
            color: $primary-color;
            transition: 0.15s ease;
        }
        
        .testConfig__item:hover{
            color: $secondary-color-hover;
            transition: 0.1s ease;
        }
        .left__wider{
            padding-left: 13px;
            padding-right: 6.5px;
        }
        .right__wider{
            padding-left: 6.5px;
            padding-right: 13px;
        }
        .equal__wide{
            padding-left: 6.5px;
            padding-right: 6.5px;
        }

        
    }
   
}