@import '../../../variables';
.NavLogo__outer{
    height: auto;
    cursor: pointer;
    .NavLogo__logo{
        width: 32px;
        height: auto;
        float: left;
        margin-top: 10px;
        fill: $primary-color;
    }
    .NavLogo__text{
        float: left;
        margin-left: 6.4px;
        .NavLogo__text-top {
            margin-top: 0;
            margin-left: 3px;
            font-size: 8.3px;
            color: $secondary-color;
            font-weight: 500;
            margin-bottom: -9.5px;
        }
        .NavLogo__text-bottom {
            font-size: 25.6px;
            font-weight: 500;
        }
    }
}