@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400&display=swap');

$primary-color: #19C37D;
$secondary-color: #646669;
$secondary-color-hover: #D1D0C5;
$roboto-mono: 'Roboto Mono', monospace;